<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello world</title>
  </head>
  <body>
    Em desenvolvimento...
    <br />
    :D

    <br />
    <br />

    Links:
    <br />
    <a href="/cars/show">Pagina de cadastro de carros</a>
  </body>
</html>
