<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro de carros</title>
  </head>
  <body>
    <h1>Registre seu veiculo:</h1>
    <form action="/cars" method="post">
      <label>Placa: </label><input type="text" placeholder="Placa do carro" />
      <label>Modelo: </label><input type="text" placeholder="Modelo do carro" />
      <label>Ano: </label><input type="text" placeholder="Ano do carro" />
      <label>Fabricante: </label><input type="text" placeholder="Fabricante do carro" />
      <label>Combustivel: </label><input type="text" placeholder="Tipo do combustivel" />
      <label>Capacidade: </label><input type="text" placeholder="Quantidade maxima de combustivel" />
      <label>Odometro: </label><input type="text" placeholder="Valor do odometro" />
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </body>
</html>
