<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registro de carros</title>
</head>
<body>
  <div class="container">
    <h1>Registro de veículos</h1>
    <form action="/cars" method="post">
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='plate' class="control-label">Placa: </label>
          <input type="text" placeholder="Placa do veículo" id='plate' name='plate' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='model' class="control-label">Modelo: </label>
          <input type="text" placeholder="Modelo do veículo" id='model' name='model' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='year' class="control-label">Ano: </label>
          <input type="text" placeholder="Ano do veículo" id='year' name='year' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='manufacturer' class="control-label">Fabricante: </label>
          <input type="text" placeholder="Fabricante do veículo" id='manufacturer' name='manufacturer' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='fuel_type' class="control-label">Combustivel: </label>
          <input type="text" placeholder="Tipo do combustivel" id='fuel_type' name='fuel_type' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='fuel_capacity' class="control-label">Capacidade: </label>
          <input type="text" placeholder="Quantidade maxima de combustivel" id='fuel_capacity' name='fuel_capacity' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for='odometer' class="control-label">Odometro: </label>
          <input type="text" placeholder="Valor do odometro" id='odometer' name='odometer' class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 form-group">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
